
/* .serviceContent{
    background-color: #D8EAFA;
    padding: .8rem;
    margin: .5rem;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 75% 100%, 13% 100%, 0 85%, 0 0);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.imgServiceContainer img{
    width: 100%;
}
.toLinkText{
    text-decoration: none;
}
.textPrimeService{
    color: var(--primeBLue);
    font-family: 'Inter', sans-serif;
} */