.blogCard{
    /* border-radius: 15px; */
    background-color: #ecf3f9;
    color: var(--primeBLue);
    border: 1px solid #dbdada;
    padding: 1rem;
}
.blogDescription:after{
    content: '';
    display: block;
    padding-bottom: 2rem;
    border-bottom: 1px solid #dbdada;
}
.author img{
    border-radius: 50%;
}

.blogImgDiv img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button{
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
}