.blogDetailsPageContainer {
  background-color: white;
  border-radius: 12px;
}
.blogDetailsTitle {
  color: #195283;
  margin-bottom: 20px;
}
.blogDetailsContent {
  color: rgb(34, 33, 33);
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
}

.blogDetailsImg {
  border-radius: 12px;
  height: 500px;
}

.blogOverview::after {
  content: "";
  display: block;
  width: 4em;
  max-width: 13%;
  border-bottom: 6px solid #f08a55;
  margin-top: 0.6em;
}
.blogUserIcon {
  font-size: 1.3em;
  color: #0e2b4e;
}
.socialMediaIocn {
  font-size: 1.2em;
}

@media only screen and (max-width: 991px) {
  .blogDetailsImg {
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .blogDetailsImg {
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .blogDetailsImg {
    height: auto;
  }
  .blogUserIcon {
    font-size: 1em;
  }
  .socialMediaIocn {
    font-size: 1em;
  }
}
