.beAnrbMember {
    background-color: #FAF6F7;
    border-radius: 10px;
    /* margin: 20px 0px; */
    padding-bottom: 3rem;
}

.excitedJoinText {
    color: var(--primeBLue);
}

.seeYou {
    color: rgb(239, 88, 62);
}