.moreInfoContaierAbout{
    padding-bottom:3rem
}

.moreInfoOfAbout{
    border: 4px solid #183462;
    /* background-color: #EAF1F8; */
    background-color: #FFFFFF;
    min-height: 434px;
    transition: all .3s ease-in-out;

}

.moreInfoImgContainer{
    transition: all .3s ease-in-out;
    
}

.moreInfoOfAbout:hover, .moreInfoImgContainer:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.extendedAboutText{
    text-align: justify;
}

.moreInfoImgContainer{
    border: 4px solid #183462;
    /* background-color: #EAF1F8; */
    background-color: #FFFFFF;
}
.moreInfoImgContainer img{
    width: 100%;
}

.thankMessageAbout{
    /* background-color: #EAF1F8; */
    background-color: #FFFFFF;
    border-radius: 10px;
}