.nrbObjectiveDiv {
  /* background-color: #f3f7f5; */
  border-radius: 10px;
  padding-bottom: 3rem;
}

.objectiveContainer{
   /* background-color: rgb(171, 210, 243); */
   /* background-color: #eaf1f8; */
   background-color: #FFFFFF;
   border-radius: 10px;
   /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;  */
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.objectiveTextAbout{
 text-align: justify;
 text-justify: inter-word;
 color: var(--primeBLue);
 font-weight: 700;
}


@media screen and (max-width: 960px) {

  .nrbObjectiveImgContainer img{
    width: 100%;
  }
  
}




