.thirdAnniversarySection{
     /* padding: 2rem; */
     background-color: #BCDFFF;
     /* background-color: #e5f0f8; */
     border-radius: 10px;
     /* margin: 20px 0px; */
     padding-bottom: 3rem;  
}

.anniversaryFirstHeaderText{
    color: var(--primeBLue);
    font-family: 'Acme', sans-serif;

}

.celebrationText{
     font-size: 4rem;
     font-family: 'Pacifico', cursive;
 }
 .celebrationTextExtra{
     font-family: 'Cookie', cursive;
 }

 .eventHeaderSupportTextAnniversary{
     font-family: 'Cookie', cursive;
 }

 .guestText{
    font-family: 'Cookie', cursive;
 }

.anniversaryCarouselCard{
    border-radius: 7px;
}
.anniversaryImgDiv img{
    width: 100%;
    max-height: 350px;
}

.imgCelebrationContainer img{
    max-width: 300px;
    max-height: 350px;
}


/* well wisher file css  */

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
    /* border-radius: 10px; */
  }
  
  .reactPlayerForVideos {
    position: absolute;
    top: 0;
    left: 0;
    /* border-radius: 10px; */
  }


.wellWisherHeaderText{
    font-family: 'Cookie', cursive;
}
@media screen and (max-width: 960px) {
    .celebrationText{
        font-size: 3rem;
    }
}