.cabinet-card-main-container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: #a596cb;
    padding: 10px;
border-radius: 10px;
}
.cabinetorgcenterdiv{
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    /* background: #000; */
}
.cabinetorganizer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 30px;  */
    margin-right: 28px;
    /* background: rgb(188, 164, 164); */
}
.cabinetorganizer .cabinetcard{
    margin: 20px;

}

.cabinetcard{
    /* box-shadow:  rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;    */
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important; */
    width: 25rem;
    margin: 20px 2px;
}
.cabinetmembers{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
}
.cabinercardimg{      
    /* width: 100%; */
    border-top-right-radius: 8px ;
    border-top-left-radius:8px;
    /* border-radius: 8px; */
}
.cabinetcardquote{
    font-size: 18px;
    margin-top: -15px;
}
.cabinetsocialicons{
    margin-bottom: -20px !important;
    background: rgb(72, 180, 223);
    /* background: rgb(199, 178, 119); */
    padding: 5px 20px;
    border-radius: 8px;
}
 .cabinetsocialicons a > i {
    padding-right: 20px; 
    font-size: 20px;   
    cursor: pointer;
    margin-top: 3px;
 }
 