
.eventCard{
    border-radius: 15px;
    color: #C5CCE8;
}
.eventDetail{
background-color: #2B2B2B;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}
.eventImgDiv{
    max-width: 500px;
    max-height: 199px;
}
.eventImgDiv img{
    max-height: 198px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}