.additionalInfoSIngleServicePageContainer{
        /* padding: 2rem;
background-color: #FFFFFF; #FAF6F7 */
background-color: #eef2f7;
border-radius: 10px;
/* margin: 20px 0px; */
padding-bottom: 3rem;
}