.executive-container{
    padding: 15px;
    overflow-x: hidden;
}
  .executive-container-para{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:serif;
} 
.memberBtn{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}