.executive-container{
     margin: .5% 13%;
    overflow-x: hidden;
    border-radius: 10px;
    background:#94a4da;
    padding: 10px;
}
  .executive-container-para{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:serif;
} 
.memberBtn{
    display: flex;
    justify-content: center;
    margin: 20px 0px;   
}
.memberBtn button{
color: #ffffff;  
background:#333;
border: none;
}