  .ycm-container{
 /* margin: 50px 100px; */
 /* margin: 1% 15%; */
 margin-top: 10px;
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: rgb(110, 141, 198);
 padding: 10px;
 border-radius: 10px !important;

 } 
 .ycm-header-container{
   background: #f3f7f5;
   border-radius: 10px !important;
 /* border-top-left-radius: 30px ; */
 margin: 10px;
 }
 .ycm-header{ 
background: #f3f7f5;
border-radius: 10px !important;
 }
 .ycm-header h2 {
    font-size: 32px;
    letter-spacing: .5px;
    line-height: 40px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
 } 
 
 .ycm-header-para{
    line-height: 30px;
    font-size: 20px;
    text-align: start;
    font-weight: 100;
    letter-spacing: 1px;
} 
.ycm-header-sticker img{
   width: 300px;

}
  /* .ycm{
   width: 100%;
 }  */
  .ycm {
   padding:10px 0px;
   /* background: rgb(50, 119, 36); */
  }
  /* .ycm-profile{
   background: #000;
  } */
 .ycm-card{
    /* padding: 20px; */
     box-shadow: none;
     /* margin-top: 30px; */
   
 }
 .ycm-flex img{
 border-radius: 20px !important;
 max-height: 200px;
width: 100%;
 }
 .ycm-name{
   font-size: 15px !important;
   text-align: start;   
   font-weight: 600;
   letter-spacing: .5px;
 }
 .ycm-title{
    margin-top: -8px;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: .5px;
 }
 .ycm-flexSocialandFlagicons{
   display: flex;
   align-items: center;
   justify-content: space-between;
 } 
 .ycm-socialicons a i{
    padding-right: 15px;    
    cursor: pointer;
 }
 .ycm-btn{
    display: flex;
    justify-content: end;
    margin: 20px 0px;      
}
.ycm-btn button{
      padding: 13px;
/* background: rgb(72, 125, 206); */
background: #000;
border: none;
font-size: 15px;
border-radius: 8px;
color: #ffffff;
font-weight: 600;
cursor: pointer;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
 /* .ycm-join-btn{
    font-size: 10px !important;
    padding: 8px;
 } */

 @media only screen and (max-width:768px){  
   .ycm-card{
      width: 100% !important;
   }
     .ycm-profile{
     width: 100%;
     padding: 20px;
     } 
 }