.blogPageTitle {
  font-family: "Barlow Condensed", sans-serif;
}
.blogPageTitle::after {
  content: "";
  display: block;
  width: 2em;
  border-bottom: 6px solid #f08a55;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blogPageImg {
  border-radius: 10px;
  height: 500px;
}
.BlogImgContainer,
.BlogImgContainer img {
  height: 260px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blogPageDetails {
  background-color: #f7f8fa;
  color: #002c53;
  /* border-radius: 6px; */
  padding: 0.5rem 1rem 1rem 0.8rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.blogButton:hover {
  background-color: rgb(251, 246, 246);
}
@media screen and (max-width: 991px) {
  .blogPageImg {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .blogPageImg {
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .blogPageImg {
    height: 280px;
  }
}
