.heightCalc{
    min-height: calc(100vh - 250px);
}
.basis-auto{
    flex-basis: auto;
}
.basis-half{
    flex-basis: 50%;
}
.joinButton{
    white-space: nowrap;
    border: none !important;
    background-color: #292929;
    border-radius: 10px;
}
.joinButton:hover{
    background-color: #3E3F3F;
    color: #D8DEFF !important;

}

.joiButtonAnimation
{
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

  @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }

.imageTop img{
    width: 100%;
}



@media (min-width: 960px){
    .basis-auto {
        flex-basis: 50%;
    }
    .topBannerContainer{
        height: 530px !important;
    }
    .imageTop{
        max-height: 520px !important;
    }
    /* .imageTop img{
        width: 100%;
    } */

}
@media screen and (max-width: 960px) {
    .imageTop img{
        width: 100%;
    }
    
}

/* @media screen and (max-width: 600px){
    .imageTop{
        margin-top: 90px ;
    }
} */
