.photo-Gallary{
    margin-top: 10px;
}
.photo-gallary-row{
    background: #ffffff;    
    padding:3%;
    padding-top: 1% !important;
    border-radius: 10px;
} 
.photo-gallary-row h3{
     padding: 10px;
    font-size: 30px;
    color: #2BAE66FF;
 border-bottom: 3px solid #2BAE66FF;  
    text-align: center;
    border-bottom-style: double;
}
.phtoto-gallary-column img{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
border-radius:10px; 
width: 100%;
/* border: 8px solid #dcdddb; */
}