.footerContainer{
 /* background-color: #6e6e6e */
}
.detailColor{
    color: var(--primeBLue);
}
.linkDecoration{
    text-decoration: none;
    color: var(--primeBLue);
}
.listContainer {
    list-style-type: none;
}
.linkKajkam{
    text-decoration: none;
    color: var(--primeBLue);
    cursor: pointer;
}
.footerLogoColor{
    color: #1F1FA0;
}

.youtubeLink:hover{
    color: red;
}
.linkedinLink:hover{
    color: #0072B1
}
.fbLink:hover{
    color: #4267B2;
}
.twitterLink:hover{
    color: #00ACEE;
}
.instaLink:hover{
    color:#405DE6
}

.JoinButtonOnFooter {
	position: relative;
	padding: 10px 10px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	color: var(--primeBLue);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font: 300 16px;
	overflow: hidden;
    margin-right: 80px;
    text-align: center;
}

.JoinButtonOnFooter span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #171618, #3bff3b);
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.JoinButtonOnFooter span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to bottom, #171618, #3bff3b);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.JoinButtonOnFooter span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, #171618, #3bff3b);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.JoinButtonOnFooter span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to top, #171618, #3bff3b);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}