.footerContainer{
 /* background-color: #6e6e6e */
}
.detailColor{
    color: var(--primeBLue);
}
.linkDecoration{
    text-decoration: none;
    color: var(--primeBLue);
}
.listContainer {
    list-style-type: none;
}
.linkKajkam{
    text-decoration: none;
    color: var(--primeBLue);
    cursor: pointer;
}
.footerLogoColor{
    color: #1F1FA0;
}

.youtubeLink:hover{
    color: red;
}
.linkedinLink:hover{
    color: #0072B1
}
.fbLink:hover{
    color: #4267B2;
}
.twitterLink:hover{
    color: #00ACEE;
}
.instaLink:hover{
    color:#405DE6
}