.counterDiv {
  /* background-color: #EAF1F8; */
  background-color: #FFFFFF;
  border-radius: 12px;
  margin-left: 1px;
  margin-right: 1px;
  transition: all 0.4s ease-in-out;
}

.counterDiv:hover{
  transform: scale(1.02);
}
.counter {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 96px;
  text-align: center;
  color: #f5a30b;
}
.counterText {
  color: #195283;
  font-family: "Barlow Condensed", sans-serif;

  margin-top: -45px;
}
@media only screen and (max-width: 500px) {
}
