.counterDiv {
  background-color: #f5f5f5;
  margin-left: 33px;
  margin-right: 33px;
  border-radius: 10px;
}
.counter {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 96px;
  text-align: center;
  color: #f5a30b;
}
.counterText {
  color: #195283;
  font-family: lora, sans-serif;
  margin-top: -45px;
}
