.counterDiv {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.counter {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 96px;
  text-align: center;
  color: #e8cc16;
}
.counterText {
  color: #195283;
  font-family: lora, sans-serif;
  margin-top: -45px;
}
