.sectionWhyContainer{
        /* padding: 2rem;
    background-color: #FFFFFF; */
    background-color: #FAF6F7;
    border-radius: 10px;
    /* margin: 20px 0px; */
    padding-bottom: 3rem;
}
.fontDesc{
    font-size: 1.15rem;
}
.fontDesc, .textWhy{
    color: #002C53;
}

/* .whyContents{
    height: 370px;
}
.imgContainerJoin{
    max-width: 350px;
    max-height: 250px;
} */
.imgContainerJoin img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 960px) {
    /* .imgJoinContainer{
     width: 300px;
    }
    
    .imgJoinContainer .imgJoin{
        object-fit: cover;
        width: 100%;
    
    } */
}