.contact-container {
  background: #ffffff;
  margin-top: 15px;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: auto;
}

.contactinfo-grid-container {
  /* background: #32609E; */
  /* margin-bottom: 20px ; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  border: 3px solid #f2f2f9;
  padding: 2px;
}

.contactinfo-bn {
  background: #ffffff;
  height: 350px;
  color: #000;
}
.contactinfo-bn-title h2,
.contactinfo-us-title h2 {
  font-weight: normal;
  font-size: 30px;
  font-style: 300px;
  text-align: start;
  font-weight: normal;
}
.contactinfo-bn-title-span,
.contactinfo-us-title-span {
  border-bottom: 2px solid rgb(77, 76, 76);
  text-align: start; 
  margin-left: 25px;
}
.contactinfo-location-icon {
  display: flex;
  align-items: center;
  padding: 0px 18px;
  line-height: 15px;
}
.material-icons-sharp {
  padding-right: 10px;
}

.contactinfo-location-icon h2 {
  font-weight: normal;
  font-size: 15px;
}
.contactinfo-location-icon h2 span {
  font-weight: 500;
  color: #32609e;
}
.contactCard {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
}
/* MEDIA  */
@media only screen and (max-width: 991px){
  .contactCard { 
    grid-template-columns:auto;
  }
}
@media only screen and (max-width: 850px) {
  .contactinfo-grid-container {
    /* background: #32609E; */
    /* margin-bottom: 20px ; */
    display: flex;
    flex-direction: column;
    border: 3px solid #f2f2f9;
    padding: 2px;
  }
  .contactinfo-us {
    margin: 10px 0px;
  }
  .conatactinfo-us-map {
    order: 4;
  }
}

/* CONTACTINFOMAP  */

.contact-info-map-bn-iframe,
.contact-info-map-us-iframe {
  width: 100%;
  /* padding: 10px 10px; */
  /* height: ; */
  height: 350px;
  /* margin-top: -16px; */
  /* border-radius: 10px; */
}
