.executive-ambassador-container{
   background:#f3f7f5;
   padding: 30px;
    /* margin: 50px 100px; */
    border-bottom-left-radius: 10px;
    margin-top: -35px;
    border-bottom-right-radius: 10px;
    }  
     /* .executive-ambassador{
      width: 100%;
    }  */
    .executive-ambassador-card{
       /* padding: 20px; */
        box-shadow: none;
        background: #333D79FF;
        color: #FAEBEFFF;
        /* margin-top: 30px; */
    }
    .executive-ambassador-flex img{
    border-radius: 50%;
     width: 60%;
     margin-left: 20%;
     margin-top: -20px;
    }
    .executive-ambassador-name{
      font-size: 15px !important;
      text-align: center;   
font-weight: bold;
letter-spacing: .7px;
    }
    .executive-ambassador-title{
       margin-top: -6px;
       font-size: 14px;
       text-align: center;
       font-weight: 100;    
       letter-spacing: .5px;
    }
    .executive-ambassador-socialicons{
       margin-top: -8px;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .executive-ambassador-socialicons a i{
    padding: 10px;
    margin: 3px;
    box-shadow: rgba(250, 248, 248, 0.1) 0px 4px 12px;
    }
    /* .executive-ambassador-btn{
       display: flex;
       justify-content: end;
       margin: 20px 0px;      
   }
   .executive-ambassador-btn button{
         padding: 10px;
   background: rgb(72, 125, 206);
   border: none;
   font-size: 15px;
   border-radius: 8px;
   color: #ffffff;
   font-weight: bold;
   cursor: pointer;
   } */
    /* .executive-ambassador-join-btn{
       font-size: 10px !important;
       padding: 8px;
    } */

    @media only screen and (max-width:575px){
      .executive-ambassador-container{
          /* margin: 50px 100px; */
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          }  
    }