
 .executive-ambassador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background: #f3f7f5; */
    /* margin: 5%; */
    border-radius: 10px;
}
 
.executive-ambassador-profile{
    padding: 10px 10px !important;
}
.executive-card{
    border: none !important;
    box-shadow: none !important;
}
.executive-profile-img {      
   margin-right: 30px;
    width: 120px !important; 
    border-radius: 50%;  
    margin: 20px;
    border: 6px solid rgb(226, 224, 224);
    /* border-radius: 8px; */
}
/* .cabinetcardquote{
    font-size: 18px;
    margin-top: -15px;
} */ 
.executive-name{
 font-size: 15px;
 text-align: center;
 margin-top: -8px;
 /* color: black;
 background: rgb(226, 224, 224); */
 color: #ffffff;
 background: rgb(194, 38, 38);
 padding: 6px;
 border-radius: 4px;
 letter-spacing: .8px;
}
.executive-title{
    font-size: 15px;
    text-align: center;
}
.executive-social-icons{  
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .executive-social-icons a > i {
    font-size: 20px;   
    /* background: rgb(92, 85, 185); */
    /* color: black !important; */
    cursor: pointer;
    margin: 8px;
    padding: 3px;
    border-radius: 4px;
 }
 