:root {
 --primeBLue : #1D354F;
 --btnColor : #6A55EA;
 --primeHalka : #274463;
 --bg-orange: #FF7901;
}

/* to implement color from root , follow below example: 
color: var(--primeBlue) */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #BCDFFF; */
  background-color: #f2f2f9;
  /* background-color: #EAEEEF; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
