.eventSummery{
    /* padding: 2rem; */
    background-color: #FFFFFF; 
    /* background-color: #e5f0f8; */
    border-radius: 10px;
    /* margin: 20px 0px; */
    padding-bottom: 3rem;
}


@media screen and (max-width: 380px) {
    .eventHeaderTextOnHome{
        font-size: 1.5rem !important ;
    }
    .eventHeaderSupportTextOnHome{
        font-size: 1.1rem !important ;
    }
}