.dropdown-menu {
    background: rgb(130, 192, 216);
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    padding-inline-start: 15px !important;
    font-size: 1rem !important;
  }
  
  .dropdown-menu li {
    background: rgb(99, 183, 216);
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #5cabff;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 12px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
  